{
  "presets": ["@babel/env", "module:metro-react-native-babel-preset"],
  "plugins": [
    "macros",
    "@babel/transform-runtime",
    "babel-plugin-styled-components"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
