.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
NEXT_RELEASE_CHANGELOG.md
artifacts
e2e/.env
*.log
.DS_STORE
*.db
.idea

# Testing
examples/SampleApp/fastlane/fastlane.log
examples/SampleApp/fastlane/report.xml
examples/SampleApp/fastlane/metrics/
examples/SampleApp/tmp/
index.android.bundle
*.app
*.DSYM.zip
**/metrics/

#docusaurus
docusaurus/shared