node_modules/
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
report.*.json
yarn-error.log
.DS_Store
dist/
lib/
.env*
vendor
pods
.gradle
.idea
examples/SampleApp/build
local.properties
xcuserdata
.tern-port
