<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190151624402-l4s3ulr84bluts0oog3rte937sklrjls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190151624402-l4s3ulr84bluts0oog3rte937sklrjls</string>
	<key>API_KEY</key>
	<string>AIzaSyBSWlZpL7-3yYMu6QR0b2WiNaSuDmO8vbY</string>
	<key>GCM_SENDER_ID</key>
	<string>190151624402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.getstream.reactnative.SampleApp</string>
	<key>PROJECT_ID</key>
	<string>sample-app-v2-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-app-v2-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190151624402:ios:403df895972564bd658f0b</string>
	<key>DATABASE_URL</key>
	<string>https://sample-app-v2-ui.firebaseio.com</string>
</dict>
</plist>