<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674907137625-i80ra3fun00124r7dv829je5ar596rs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674907137625-i80ra3fun00124r7dv829je5ar596rs2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674907137625-2scfo9a5cs074dced5vhm712ej6hhtpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAsaKFUPLAJqfsLiz0yPUVzwrgJkOwSE</string>
	<key>GCM_SENDER_ID</key>
	<string>674907137625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.getstream.reactnative.SampleApp.pushtest</string>
	<key>PROJECT_ID</key>
	<string>stream-chat-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-chat-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674907137625:ios:0dda2f3e04f6607dd7f348</string>
	<key>DATABASE_URL</key>
	<string>https://stream-chat-internal.firebaseio.com</string>
</dict>
</plist>