# android
android/build
android/src/main/java/com/streamchatreactnative/StreamShimmerFrameLayout.kt
android/src/main/java/com/streamchatreactnative/StreamShimmerViewManager.kt

# ios
ios/build
ios/StreamShimmerView.swift
ios/StreamShimmerViewComponentView.h
ios/StreamShimmerViewComponentView.mm
