{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  },
  "overrides": [
    {
      "compact": false
    }
  ],
  "plugins": ["module-resolver"],
  "presets": ["@babel/env", "module:metro-react-native-babel-preset"]
}
