<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iCloudContainerEnvironment</key>
	<string>Development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.getstream.reactnative.SampleApp</key>
		<string>match AdHoc io.getstream.reactnative.SampleApp</string>
    </dict>
</dict>
</plist>