name: Lint, Unit Tests, and Code Analysis

on:
  pull_request:
    branches:
      - develop
      - main
      - 'v[0-9]+.[0-9]+.[0-9]+*beta*'
    types: [opened, synchronize]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 18.x ]
    steps:
      - uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Installation & Build Package
        # installation already takes care of calling prepare which calls build
        # for the sdk package
        run: yarn --frozen-lockfile && yarn bootstrap-ci
      - name: Lint
        run: yarn lerna-workspaces run lint && cd docusaurus && npx prettier --check '**/*.mdx'
      - name: Test
        run: yarn test:coverage
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=getstream
            -Dsonar.projectKey=GetStream_stream-chat-react-native
            -Dsonar.javascript.lcov.reportPaths=./package/coverage/lcov.info
            -Dsonar.sources=package/src/
            -Dsonar.test.exclusions=**/__tests__/**
            -Dsonar.verbose=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
