name: Lint, Unit Tests, and Code Analysis

on:
  pull_request:
    branches:
      - develop
      - main
      - 'v[0-9]+.[0-9]+.[0-9]+*beta*'
      - v5
    types: [opened, synchronize]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install && Build - SDK and Sample App
        uses: ./.github/actions/install-and-build-sdk
      - name: Lint
        run: yarn lerna-workspaces run lint && cd docusaurus && npx prettier --check '**/*.mdx'
      - name: Test
        run: yarn test:coverage
        env:
          GITHUB_TOKEN: ${{ secrets.DOCUSAURUS_GH_TOKEN }}
