name: docusaurus

on:
  push:
    branches:
#       - main # default branch name for each repo that docs should be push from
#       - develop
      - v5.0.0-beta
    paths:
      - docusaurus/**
jobs:
  push_docusaurus:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: push
        uses: GetStream/push-stream-chat-docusaurus-action@main
        with:
          target-branch: ${{ 'production' }}
        env:
          DOCUSAURUS_GH_TOKEN: ${{ secrets.DOCUSAURUS_GH_TOKEN }}
